body{
    margin: 0;
    padding: 0;
    line-height: 1.7;
    color: gray;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
}

/* Start section Header */
.header{
    width: 100%;
    height: 500px;
    background-color: rgba(111, 66, 193, 0.1);
    border-bottom-right-radius: 50%;
    overflow: hidden;
}
/* Start section navbar */

.header .navbar-brand{
    margin-top: 10px;
    color: #000; 
    font-weight: 700;  
}
.header .navbar-brand span{
    color: #6f42c1;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: none;
}
.header .navbar-nav>li>a{
    color: black;
    font-size: 15px;
    font-weight: 400;
}
.header .navbar-nav>li>a:hover{
    color: #6f42c1;
    transition: 0.5s;
}
.header .navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

}

@media (max-width: 767px){
    .header .navbar-brand{
        margin-top: 5px !important; 
    }
    .header .nav{
        margin-left: 0%;
    }
    .header .navbar-fixed-top{
        position: relative;
    }
}
@media (min-width: 768px){
    .header .nav{
        margin-top: 8px;
        margin-left: 18%;
    }
}
@media (min-width: 992px){
    .header .nav{
        margin-top: 8px;
        margin-left: 35%;
    }
}
@media (min-width: 1200px){
    .header .nav{
        margin-top: 7px;
        margin-left: 40%;
    }
}


/* End section navbar */
.header .header-background .text-header{
    padding: 13rem 0;
}
.header .header-background .text-header h5{
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(111, 66, 193, 0.5);
    letter-spacing: .1rem;
    font-weight: 900;
}
.header .header-background .text-header h1{
    font-weight: 900;
    color: #6f42c1;
    font-size: 40px;
}
.header .header-background .text-header p{
    margin-bottom: 15px !important;
    font-size: 16px;
    padding: 0 200px !important;
}
.header .header-background .text-header button{
    background: none;
    border: none;
    font-size: 14px;
    padding: 10px 50px;
    color: #FFF;
    background-color: #6f42c1;
    border-radius: 50px;
    outline: none;
}

@media (max-width: 767px){
    .header{
        height: 400px !important;
    }
    .header .header-background{
        text-align: center;
        overflow: visible;
    }
    .header .header-background .text-header{
        padding-top: 2rem;
    }
    .header .header-background .text-header p{
        padding: 0 !important;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .header .header-background .text-header p{
        margin-bottom: 10px !important;
        font-size: 16px;
    }
    .header .header-background .header-image{
        max-width: 100%;
        height: auto;
    }

}

/* End section Header */

/* Start section contact */

.contact{
    margin-top: 100px;
}
.contact .one{
    padding-bottom: 40px;
}
.contact .one input[type="text"]{
    width: 500px;
    height: 43px;
    border: 1px solid #ced4da;
    outline: none;
}
.contact .one .lead{
    font-size: 18px;
    margin-bottom: 4px; 
}
.contact .one input[type="text"]:hover,
.contact .one input[type="text"]:active,
.contact .one input[type="text"]:focus{
    border: 1px solid #6f42c1;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    
}
.contact .one textarea{
    width: 500px;
    height: 254px;
    border: 1px solid #ced4da;
    outline: none;
}

.contact .one textarea:hover,
.contact .one textarea:active,
.contact .one textarea:focus{
    border: 1px solid #6f42c1;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}

.contact .button button{
    margin-top: 120px;
    width: 300px;
    background: none;
    border: none;
    font-size: 14px;
    padding: 10px 50px;
    color: #FFF;
    background-color: #6f42c1;
    border-radius: 50px;
    outline: none;
}
@media (max-width: 767px){
    
    .contact .one{
        text-align: center;
    }
    .contact .button button{
        margin-top: 0;
    }
    .contact .one input[type="text"]{
        width: 350px !important;
    }
    .contact .one textarea{
        width: 350px;
       height: 200px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .contact .one input[type="text"]{
        width: 300px !important;
    }
    .contact .one textarea{
        width: 300px;
        height: 150px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .contact .one input[type="text"]{
        width: 400px !important;
    }
    .contact .one textarea{
        width: 400px;
       height: 200px;
    }
}

.contact .info h3{
    margin-top: 30px;
    color: #6f42c1;
    padding-bottom: 10px;
    text-align: center;
}
.contact .info .loc,
.contact .info .phone,
.contact .info .mail,
.contact .info .website{
    color: #6f42c1;
    font-size: 18px;
    padding-bottom: 30px;
}
.contact .info .loc i,
.contact .info .phone i,
.contact .info .mail i,
.contact .info .website i{
    font-size: large;
    padding-right: 20px;
}
@media (max-width: 767px){
    .contact .info{
        text-align: center;
    }
    .contact .info h3{
        margin-top: 50px;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .contact .info{
        text-align: center;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .contact .info .loc,
.contact .info .phone,
.contact .info .mail,
.contact .info .website{
    color: #6f42c1;
    font-size: 16px;
    padding-bottom: 30px;
}
    .contact .info .loc i, .contact .info .phone i, .contact .info .mail i, .contact .info .website i {
        font-size: large;
        padding-right: 0;
    }
}

/* End section contact*/

/* Start section about */
.about{
    margin-top: 30px;
    background-color: rgba(111, 66, 193, 0.05);

}
.about .info h5{
    color: #6f42c1;
    padding: 20px 0 10px;
    font-size: 17px;
}
.about .info p{
    font-size: 15px;
}
.about .info ul{
    padding-top: 3px;
}
.about .info li{
    display: inline;
    font-size: 16px;
    padding: 0 15px;
}
.about .info li > a{
    text-decoration: none;
    color: #aaa;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}
.about .info li > a:hover{
    color: #6f42c1;
}
.about .info .list-quick{
    padding-top: 0;
}
.about .info .list-quick li{
    display: block;
    padding-bottom: 10px;
}
.about .copy {
    padding-top: 15px;
    font-size: 10px;
}
.about .copy p>i{
    color: red;
}
.about .copy p>span{
    color: #6f42c1;
}

/* End section about */